<form [formGroup]="loginForm" (ngSubmit)="login()" class="form">
  <div class="pe-3">
    <!-- Email  -->
    <div class="fv-row mb-5">
      <label>Email</label>
      <input type="email" formControlName="email" />
      @if (form["email"].touched && form["email"].invalid) { @if (form["email"].errors &&
      form["email"].errors["required"]) {
        <div>Email is required</div>
      } }
    </div>

    <!-- Password  -->
    <div class="fv-row mb-5">
      <label>Password</label>
      <input type="password" formControlName="password" />
      @if (form["password"].touched && form["password"].invalid) { @if (form["password"].errors &&
      form["password"].errors["required"]) {
        <div>Password is required</div>
      } }
    </div>

    <!-- Password  -->
    <button type="submit" [disabled]="loginForm.invalid || isLoading">
      @if (!isLoading) {
        <span>Login</span>
      } @if (isLoading) {
      <span>Logging in....</span>
    }
    </button>
  </div>

</form>
