<div class="vh-100 mt-lg-3">
	<div class="container-fluid">
		<!--    -->
		<div class="d-flex justify-content-between align-items-center mb-lg-5">
			<!--::begin Welcome message and summary statistics -->
			<div class="d-flex flex-column gap-3">
				<h3 class="fw-bold mb-1">Welcome Back, User!</h3>
				<div class="d-flex gap-4 small text-muted">
					<h6>
						<strong class="badge text-bg-primary text-primary fw-bold bg-opacity-25">4</strong>
						Tasks Due Today
					</h6>
					<h6>
						<strong class="badge text-bg-danger text-danger fw-bold bg-opacity-25">2</strong>
						Overdue Tasks
					</h6>
					<h6>
						<strong class="badge text-bg-warning text-warning fw-bolder bg-opacity-25">8</strong>
						Upcoming Deadlines
					</h6>
				</div>
			</div>
			<!--::end Welcome message and summary statistics -->

			<!--::begin Action buttons -->
			<div class="d-flex gap-2">
				<button class="btn btn-primary btn-sm px-3 py-2 fw-semibold">
					<i class="bi-plus-circle"></i>
					Create Project
				</button>
				<button class="btn btn-outline-secondary btn-sm px-3 py-2 d-flex align-items-center gap-2">
					<i class="bi bi-file-earmark-arrow-down fs-6"></i>
					Export
				</button>
			</div>
			<!--::end Action buttons -->
		</div>
		<!--    -->
		<div class="row mb-5">
			<!--::begin Total Projects Card     -->
			<div class="col">
				<div class="card p-3 text-bg-primary bg-gradient text-white">
					<h6 class="card-title fw-semibold">Total Projects</h6>
					<div class="d-flex card-body justify-content-between">
						<h1 class="fw-bold">15</h1>
						<i class="bi bi-box-fill fs-3"></i>
					</div>
				</div>
			</div>
			<!--::end Total Projects Card      -->

			<!--::begin Total Tasks Card     -->
			<div class="col">
				<div class="card p-3">
					<h6 class="card-title text-muted fw-semibold">Total Tasks</h6>
					<div class="d-flex card-body justify-content-between">
						<h1 class="fw-bold">10</h1>
						<i class="bi bi-stack fs-3 text-muted"></i>
					</div>
				</div>
			</div>
			<!--::end Total Tasks Card      -->

			<!--::begin In Reviews Card     -->
			<div class="col">
				<div class="card p-3">
					<h6 class="card-title text-muted fw-semibold">In Reviews</h6>
					<div class="d-flex card-body justify-content-between">
						<h1 class="fw-bold">23</h1>
						<i class="bi bi-back fs-3 text-muted"></i>
					</div>
				</div>
			</div>
			<!--::end In Reviews Card      -->

			<!--::begin Completed Tasks Card     -->
			<div class="col">
				<div class="card p-3">
					<h6 class="card-title text-muted fw-semibold">Completed Tasks</h6>
					<div class="d-flex card-body justify-content-between">
						<h1 class="fw-bold">50</h1>
						<i class="bi bi-circle-square fs-3 text-muted"></i>
					</div>
				</div>
			</div>
			<!--::end Completed Tasks Card      -->
		</div>
		<!--    ::begin Task List component-->
		<div class="row card p-lg-3 m-auto">
			<div class="d-flex justify-content-between align-items-center mb-3">
				<h6 class="card-subtitle fw-semibold">Today's Tasks</h6>
				<div class="d-flex gap-3">
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control me-sm-2" type="search" placeholder="Search" />
					</form>
					<div class="dropdown">
						<button
							class="btn btn-primary fw-semibold dropdown-toggle"
							type="button"
							data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="bi bi-filter"></i>
							Filter
						</button>
						<ul class="dropdown-menu">
							<li class="dropdown-item">In-progress</li>
							<li class="dropdown-item">Pending</li>
							<li class="dropdown-item">Overdue</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<div class="card-body p-0">
					<table class="table table-striped">
						<thead>
							<tr>
								<th scope="col">Task Name</th>
								<th scope="col">Description</th>
								<th scope="col">Due Date</th>
								<th scope="col">Status</th>
								<th scope="col">Priority</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Task 1</td>
								<td>Task Description</td>
								<td>Task Deadline</td>
								<td>Status</td>
								<td>Task Priority</td>
							</tr>
							<tr>
								<td>Task 2</td>
								<td>Task Description</td>
								<td>Task Deadline</td>
								<td>Status</td>
								<td>Task Priority</td>
							</tr>
							<tr>
								<td>Task 3</td>
								<td>Task Description</td>
								<td>Task Deadline</td>
								<td>Status</td>
								<td>Task Priority</td>
							</tr>
							<tr>
								<td>Task 4</td>
								<td>Task Description</td>
								<td>Task Deadline</td>
								<td>Status</td>
								<td>Task Priority</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<!--    ::end Task List component-->
		</div>
	</div>
</div>
