<div class="vh-100">
	<div class="container-fluid">
		<div class="row mb-5">
			<!--::begin Total Projects Card     -->
			<div class="col">
				<div class="card p-2">
					<h6 class="card-title text-muted fw-semibold">Total Projects</h6>
					<div class="d-flex card-body justify-content-between">
						<h2>15</h2>
						<i class="bi bi-box-fill fs-3 text-muted shadow-lg"></i>
					</div>
				</div>
			</div>
			<!--::end Total Projects Card      -->

			<!--::begin Total Tasks Card     -->
			<div class="col">
				<div class="card p-2">
					<h6 class="card-title text-muted fw-semibold">Total Tasks</h6>
					<div class="d-flex card-body justify-content-between">
						<h2>10</h2>
						<i class="bi bi-stack fs-3 text-muted"></i>
					</div>
				</div>
			</div>
			<!--::end Total Tasks Card      -->

			<!--::begin In Reviews Card     -->
			<div class="col">
				<div class="card p-2">
					<h6 class="card-title text-muted fw-semibold">In Reviews</h6>
					<div class="d-flex card-body justify-content-between">
						<h2>23</h2>
						<i class="bi bi-back fs-3 text-muted"></i>
					</div>
				</div>
			</div>
			<!--::end In Reviews Card      -->

			<!--::begin Completed Tasks Card     -->
			<div class="col">
				<div class="card p-2">
					<h6 class="card-title text-muted fw-semibold">Completed Tasks</h6>
					<div class="d-flex card-body justify-content-between">
						<h2>50</h2>
						<i class="bi bi-circle-square fs-3 text-muted"></i>
					</div>
				</div>
			</div>
			<!--::end Completed Tasks Card      -->
		</div>
		<!--    ::begin Task List component-->
		<div class="row card p-lg-3 m-auto">
			<div class="d-flex justify-content-between align-items-center mb-3">
				<h6 class="card-subtitle fw-semibold">Today's Tasks</h6>
				<div class="d-flex gap-3">
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control me-sm-2" type="search" placeholder="Search" />
					</form>
					<div class="dropdown">
						<button
							class="btn btn-primary fw-semibold dropdown-toggle"
              type="button"
					    data-bs-toggle="dropdown"
							aria-expanded="false">
							<i class="bi bi-filter"></i>
							Filter
						</button>
						<ul class="dropdown-menu">
							<li class="dropdown-item">In-progress</li>
							<li class="dropdown-item">Pending</li>
							<li class="dropdown-item">Overdue</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="card">
				<ul class="list-group list-group-flush">
					<li class="list-group-item">Item 1</li>
					<li class="list-group-item">Item 2</li>
					<li class="list-group-item">Item 3</li>
				</ul>
			</div>
		</div>
		<!--    ::end Task List component-->
	</div>
</div>
