<!--::begin Dashboard header    -->
<div class="d-flex justify-content-between align-items-center mb-lg-5">
  <!--::begin Welcome message and summary statistics -->
  <div class="d-flex flex-column gap-3">
    <h2 class="fw-bold mb-1">Good Day, User!</h2>
    <div class="d-flex gap-4 small text-muted">
      <h6>
        <strong class="badge text-bg-secondary text-white fw-bold">4</strong>
        Tasks Due Today
      </h6>
      <h6>
        <strong class="badge text-bg-secondary text-white fw-bold">2</strong>
        Overdue Tasks
      </h6>
      <h6>
        <strong class="badge text-bg-secondary text-white fw-bold">8</strong>
        Upcoming Deadlines
      </h6>
    </div>
  </div>
  <!--::end Welcome message and summary statistics -->

  <!--::begin Action buttons -->
  <div class="d-flex gap-2">
    <button class="btn btn-primary btn-sm px-3 py-2 fw-semibold">
      <i class="bi bi-plus-circle"></i>
      Create Project
    </button>
    <button class="btn btn-outline-secondary btn-sm px-3 py-2 d-flex align-items-center gap-2">
      <i class="bi bi-file-earmark-arrow-down fs-6"></i>
      Export
    </button>
  </div>
  <!--::end Action buttons -->
</div>
<!--::end Dashboard header      -->
