<div class="vh-100 mt-lg-3">
  <div class="container-fluid">
    <!--::begin Dashboard header    -->
    <app-dashboard-header></app-dashboard-header>
    <!--::end Dashboard header      -->

    <!--::begin Summaries   -->
    <app-dashboard-summaries></app-dashboard-summaries>
    <!--::end Summaries   -->

    <!--::begin Performance Chart    -->
    <app-dashboard-chart></app-dashboard-chart>
    <!--::end Performance Chart    -->

    <!--    ::begin Task List component-->
    <app-dashboard-task-list></app-dashboard-task-list>
    <!--    ::end Task List component-->
  </div>
</div>
