<div class="row mb-5">
  <!--::begin Total Projects Card     -->
  <div class="col">
    <div class="card p-3 text-bg-primary bg-gradient text-white border-0 shadow-sm">
      <h6 class="card-title fw-semibold">Total Projects</h6>
      <div class="d-flex card-body justify-content-between">
        <h1 class="fw-bold">15</h1>
        <i class="bi bi-box-fill fs-2"></i>
      </div>
    </div>
  </div>
  <!--::end Total Projects Card      -->

  <!--::begin Total Tasks Card     -->
  <div class="col">
    <div class="card p-3 border-0 shadow-sm">
      <h6 class="card-title text-muted fw-semibold">Total Tasks</h6>
      <div class="d-flex card-body justify-content-between">
        <h1 class="fw-bold">10</h1>
        <i class="bi bi-stack fs-2 text-muted"></i>
      </div>
    </div>
  </div>
  <!--::end Total Tasks Card      -->

  <!--::begin In Reviews Card     -->
  <div class="col">
    <div class="card p-3 border-0 shadow-sm">
      <h6 class="card-title text-muted fw-semibol">In Reviews</h6>
      <div class="d-flex card-body justify-content-between">
        <h1 class="fw-bold">23</h1>
        <i class="bi bi-back fs-2 text-muted"></i>
      </div>
    </div>
  </div>
  <!--::end In Reviews Card      -->

  <!--::begin Completed Tasks Card     -->
  <div class="col">
    <div class="card p-3 border-0 shadow-sm">
      <h6 class="card-title text-muted fw-semibold">Completed Tasks</h6>
      <div class="d-flex card-body justify-content-between">
        <h1 class="fw-bold">50</h1>
        <i class="bi bi-circle-square fs-2 text-muted"></i>
      </div>
    </div>
  </div>
  <!--::end Completed Tasks Card      -->
</div>
